*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5256ad;
  }
  .dropzone.active{
    border: 2px solid #fff ;
    border-radius: 5px;
    
    background: #5256da;
  }
  .dropzone{
    border: 2px dashed #fff;
    height: 300px;
    width: 400px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
    
.icon .material-symbols-outlined {
  color: #fff;
  font-size: 80px;
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}
.dropzone header{
display: block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }
  .dropzone img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
  }
  span{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
  }
